<h1>Hello from Some Angular Component</h1>
<h4> display some date</h4>
<p>{{timestamp}}</p>
<br>
<!--th class="sorting_asc" tabindex="0" aria-controls="defaultersTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column descending" aria-sort="ascending">ID</th-->
<md-data-table [selectable]="true">
  <thead>
  <!--tr md-data-table-header-selectable-row style="background-color: lightblue"-->
    <tr md-data-table-header-selectable-row >
    <th class="md-text-cell" sortable="true" style="background-color: lightblue; border-bottom-color: black; border-color: black"  >Material</th>
    <th sortable="true" style="background-color: lightblue">Quantity</th>
    <th sortable="true"style="background-color: lightblue">Unit price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let material of materials"  md-data-table-selectable-row [selectable-value]="material.name" style="border-bottom-color: black; border-top-color: black" >
    <td class="md-text-cell">{{ material.name }}</td>
    <td>{{ material.quantity }}</td>
    <td>{{ material.price }}</td>
  </tr>
  </tbody>
</md-data-table>
<h4>Bring your new Material Component</h4>
<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>
<br>
<div class="container" margin-bottom=20px>
  <h1 class="rulepageH1" >Moneytor Rules Form</h1>
  <h2 class="rulepageH1" >Form for Default Data</h2>
</div>


<!-- PrimeNg or Angular2-Datatable
<p>add stuff here<p><br><p> primeNg section</p>
  <!--button type="button" pButton label="Click" icon="fa fa-check" (click)="onClick($event)"></button>
  <button type="button" pButton label="Click" icon="fa fa-check"></button>

  <h3>Checkbox</h3>
<p>Multiple selection can also be handled using checkboxes by enabling the selectionMode property of column as "multiple".</p>
<!--p-dataTable [value]="cars" [(selection)]="selectedCars2">
  <p-dataTable>
    <p-header>Single Selection</p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="case" header="case"></p-column>
    <p-footer>
        <ul>
            <li style="text-align: left">'car.vin' + ' - ' + 'car.case'</li>
        </ul>
    </p-footer>
</p-dataTable>
  <p> primeNg section end</p>
  -->
    <br>
  <md-progress-spinner></md-progress-spinner>
  <br>
  <md-spinner></md-spinner>
  <br>
  <md-progress-bar></md-progress-bar>
  <br>
  <md-card class="sliderBox">
    <md-card-content>
      <h2>Loan Settlement Limits</h2>
      <md-slider min="0" max="100" step="1" thumb-label ="true" name="discountSlider" [(ngModel)]="slider1Value" (change)="onChange()" ></md-slider>
    </md-card-content>
    <br>
    <p>{{slider1Value}}</p>
    <input [(ngModel)]="slider1Value">
  </md-card>
  <md-slider min="0" max="100" step="1" thumb-label ="true" name="discountSlider"  [(ngModel)]="slider2Value" (change)="onChange()" ></md-slider>
  <input [(ngModel)]="slider2Value">
  <p>calculated amount = {{savedAmount}}</p>